.featured {
  height: auto;
  width: 100%;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  overflow: hidden;
}

.featuredTitles {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: #fff;
}

.featuredTitles-h1 {
  font-weight: 500;
}
.featuredTitles-h2 {
  font-weight: 400;
  font-size: 1rem;
}

.featuredItem img {
  height: 13rem;
  object-fit: cover;
}
