.navbar {
  height: auto;
  width: 100%;
  z-index: 999;
  background-color: rgb(218, 215, 215);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9rem;
}

.home__link {
  color: #141414;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.navButtons button {
  padding: 2px 1rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 2px solid #252627;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  background: #252627;
  transition: 0.1s ease-out;
}

.navButtons button:hover {
  background-color: #565454;
  transition: 0.1s ease-in;
}
